/* .a {
    font-size: 15px;
}

.b {
    font-size: 20px;
}

.c {
    font-size: 25px;
} */

/* .a {
    font-size: 100%;
}

.b {
    font-size: 150%;
}

.c {
    font-size: 200%;
} */

/* .a {
    font-size: 1.0em;
}

.b {
    font-size: 1.5em;
}

.c {
    font-size: 2.0em;
} */

.parent {
    font-size: 30px;
}